.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: $color-secondary-grayDark;
    color: white;

    text-align: center;

    &__sticky{
        position: sticky;
        bottom: 0;
        z-index: 200;
    }

    &__description{
        font-size: 1.3rem;

        padding: 1rem;

        font-family: 'SevenOneEightLight', serif; 


        &--bold{
            font-family: 'SevenOneEightExtraBold', serif; 
        }

        &--Hr{
            height: 2px;
            width: 20rem;

            margin: auto;
            margin-top: 5px;

            background-color: $color-primary-red;
        }
    }
}