.header{
    &__title{
        color: $color-primary-red;
        
        font-family: 'Noto Serif', serif;
        font-size: 3rem;
        
        text-align: center;
        letter-spacing: .2rem;
    }

    &__subTitle{
        color: $color-secondary-grayDark;

        font-family: 'SevenOneEightLight';
        font-size: 3rem;

        text-align: center;
    }

    &__hr{
        width: 15rem;
        height: 0.5rem;
        
        background-color: $color-secondary-grayDark;
        
        margin: auto;
        margin-top: 1.5rem;
    }
}


