/* --------------- BASE HTML -------------- */
html {
  font-size: 62.5%; }

body {
  font-family: 'SevenOneEightMedium', sans-serif;
  background-color: #efefef; }

/*.z{
	border: 1px solid black;
}*/
/* --------------- FONT FAMILY -------------- */
@font-face {
  font-family: 'SevenOneEightBlack';
  src: url("fonts/SevenOneEight-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'SevenOneEightBook';
  src: url("fonts/SevenOneEight-Book.ttf") format("truetype"); }

@font-face {
  font-family: 'SevenOneEightExtraBold';
  src: url("fonts/SevenOneEight-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SevenOneEightLight';
  src: url("fonts/SevenOneEight-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'SevenOneEightMedium';
  src: url("fonts/SevenOneEight-Medium.ttf") format("truetype"); }

.fa-chevron-down {
  color: #da3a2f;
  font-size: 15px; }

.fa-chevron-right {
  color: white;
  font-size: 20px; }

.arrow-slider {
  color: white !important;
  font-size: 25px; }

.header__title {
  color: #da3a2f;
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: .2rem; }

.header__subTitle {
  color: #363636;
  font-family: 'SevenOneEightLight';
  font-size: 3rem;
  text-align: center; }

.header__hr {
  width: 15rem;
  height: 0.5rem;
  background-color: #363636;
  margin: auto;
  margin-top: 1.5rem; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #363636;
  color: white;
  text-align: center; }
  .footer__sticky {
    position: sticky;
    bottom: 0;
    z-index: 200; }
  .footer__description {
    font-size: 1.3rem;
    padding: 1rem;
    font-family: 'SevenOneEightLight', serif; }
    .footer__description--bold {
      font-family: 'SevenOneEightExtraBold', serif; }
    .footer__description--Hr {
      height: 2px;
      width: 20rem;
      margin: auto;
      margin-top: 5px;
      background-color: #da3a2f; }

.section__arrowsSlider {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 150;
  font-size: 54px; }
  .section__arrowsSlider--position {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
  .section__arrowsSlider--left, .section__arrowsSlider--right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    .section__arrowsSlider--left:hover, .section__arrowsSlider--right:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
      transform: translateY(-3px); }
    .section__arrowsSlider--left:active, .section__arrowsSlider--right:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
      transform: translateY(1px); }
  .section__arrowsSlider--pictures {
    width: 100%;
    overflow: hidden;
    transition: 0.6s; }
  .section__arrowsSlider--pictureSideBySide {
    display: flex;
    width: 300%;
    position: relative;
    left: 0%;
    transition: 0.6s; }
  .section__arrowsSlider--pictureOne {
    width: 100%; }

.section__destinationButton {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 8rem; }
  .section__destinationButton--flex {
    display: flex;
    background-color: white;
    cursor: pointer; }
  .section__destinationButton--left {
    width: 200px;
    border: 1px solid #efefef;
    display: flex; }
    .section__destinationButton--left--settings {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0 10px 15px; }
      .section__destinationButton--left--settings--spacingHr {
        height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
      .section__destinationButton--left--settings--Hr {
        width: 15px;
        height: 1px;
        background-color: #da3a2f;
        position: relative; }
      .section__destinationButton--left--settings--Sp {
        width: 5px;
        height: 5px;
        background-color: #da3a2f;
        border-radius: 50%;
        position: absolute;
        top: -2px; }
        .section__destinationButton--left--settings--Sp--top {
          left: 9px; }
        .section__destinationButton--left--settings--Sp--middle {
          left: 2px; }
        .section__destinationButton--left--settings--Sp--bottom {
          left: 7px; }
    .section__destinationButton--left--title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-family: 'SevenOneEightLight', sans-serif;
      font-size: 19px;
      color: #363636;
      position: relative;
      top: 2px; }
  .section__destinationButton--right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid #efefef;
    cursor: pointer; }

.section__destinationCard {
  position: relative; }
  .section__destinationCard--pictureSize {
    width: 100%; }
  .section__destinationCard--minHeight {
    min-height: 220px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
    cursor: pointer; }
    .section__destinationCard--minHeight:hover {
      transform: scale(1.1);
      transition: all .6s;
      z-index: 100; }
  .section__destinationCard--title {
    width: 100%;
    font-family: 'SevenOneEightExtraBold', serif;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white; }
    .section__destinationCard--title--country {
      font-size: 2rem; }
    .section__destinationCard--title--price {
      display: flex;
      align-items: flex-end; }

.section__destinationCardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 0;
  border-radius: 0 0 5px 5px; }
  .section__destinationCardDescription--positionLeft {
    margin-left: 10px; }
  .section__destinationCardDescription--country {
    font-family: 'Noto Serif', serif;
    font-size: 2rem; }
  .section__destinationCardDescription--city {
    font-family: 'SevenOneEightLight', serif;
    font-size: 1.7rem; }
  .section__destinationCardDescription--label {
    margin-right: 10px;
    font-size: 1.3rem; }
  .section__destinationCardDescription--button {
    width: 40px;
    height: 40px;
    background-color: #da3a2f;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section__destinationCardDescription--premium {
    display: flex;
    color: white;
    font-family: 'SevenOneEightLight', serif; }
    .section__destinationCardDescription--premium--class {
      background-color: black;
      margin-right: 20px;
      padding: 0 5px;
      font-size: 10px; }
    .section__destinationCardDescription--premium--breakfast {
      background-color: #bfa06f;
      padding: 0 5px;
      font-size: 10px; }

.section__offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  color: #363636; }
  .section__offer--how {
    font-size: 1.8rem;
    font-family: 'SevenOneEightLight', serif; }
  .section__offer--reduction {
    font-size: 2rem;
    font-family: 'SevenOneEightExtraBold', serif; }
  .section__offer--hr {
    height: .3rem;
    width: 11rem;
    background-color: #363636;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem; }

.section__member {
  color: white;
  background-color: #da3a2f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 2px; }
  .section__member--already {
    font-family: 'Noto Serif', serif;
    font-size: 2rem; }
  .section__member--promo {
    font-family: 'SevenOneEightLight', serif;
    font-size: 1.5rem; }
  .section__member--link:link, .section__member--link:visited {
    color: white;
    text-decoration: underline;
    font-family: 'SevenOneEightExtraBold', serif; }

.section__signUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .section__signUp--Wrapper {
    display: flex;
    align-items: center; }
  .section__signUp--infos--boxSize {
    display: flex;
    align-items: center;
    min-width: 250px; }
  .section__signUp--infos--number {
    color: #da3a2f;
    font-size: 60px;
    font-family: 'SevenOneEightExtraBold', serif;
    position: relative;
    top: 7px;
    margin-right: 5px; }
  .section__signUp--infos--Vr {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 15px; }
  .section__signUp--infos--description {
    font-size: 12px; }
  .section__signUp--infos--description, .section__signUp--infos--numberPosition {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section__signUp--infos--numberPosition {
    position: relative; }
  .section__signUp--infos--descriptionDanger {
    color: #da3a2f;
    font-family: 'SevenOneEightExtraBold', serif; }
  .section__signUp--infos--descriptionNormal {
    font-family: 'SevenOneEightLight', serif;
    color: #363636; }
  .section__signUp--btnPosition {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .section__signUp--btn {
    border: 0;
    font-family: 'SevenOneEightLight', serif;
    padding: 5px 80px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    background-color: #da3a2f;
    cursor: pointer;
    outline: none;
    transition: .8s; }
    .section__signUp--btn:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
      transform: translateY(-3px); }
    .section__signUp--btn:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
      transform: translateY(1px); }
  .section__signUp--center {
    position: relative;
    top: 2px; }

@media screen and (max-width: 1200px) {
  .responsive {
    font-size: 51%; }
  .section__destinationCard--minHeight:hover {
    transform: scale(1.1);
    transition: all .6s;
    z-index: 100; } }

@media screen and (max-width: 991px) {
  .section__destinationButton--left, .section__destinationButton--right {
    border: 1px solid #363636; }
  .section__destinationCard--minHeight:hover {
    transform: scale(1); }
  .section__signUp--Wrapper {
    display: block; }
  .section__signUp--infos--Vr {
    display: block; } }

@media screen and (max-width: 500px) {
  .header__title, .header__subTitle {
    font-size: 2rem; }
  .responsive {
    font-size: 40%; } }
