/* --------------- BASE HTML -------------- */

html {
	font-size: 62.5%;
}

body{
  font-family: 'SevenOneEightMedium', sans-serif;
  background-color: $color-background-home;
}

/*.z{
	border: 1px solid black;
}*/