/* --------------- FONT FAMILY -------------- */

@font-face {
    font-family: 'SevenOneEightBlack';
    src: url('fonts/SevenOneEight-Black.ttf') format('truetype');   
}

@font-face {
    font-family: 'SevenOneEightBook';
    src: url('fonts/SevenOneEight-Book.ttf') format('truetype');   
}

@font-face {
    font-family: 'SevenOneEightExtraBold';
    src: url('fonts/SevenOneEight-ExtraBold.ttf') format('truetype');   
}

@font-face {
    font-family: 'SevenOneEightLight';
    src: url('fonts/SevenOneEight-Light.ttf') format('truetype');   
}

@font-face {
    font-family: 'SevenOneEightMedium';
    src: url('fonts/SevenOneEight-Medium.ttf') format('truetype');   
}