.fa-chevron-down{
    color: $color-primary-red;
    font-size: 15px; 
}

.fa-chevron-right{
    color: white;
    font-size: 20px;
}

.arrow-slider {
    color: white !important;
    font-size: 25px;
}