.section{

    &__arrowsSlider{
        width: 100%;

        position: absolute;
        top: 50%;

        z-index: 150;

        font-size: 54px;

        &--position{
            display: flex;
            justify-content: space-between;

            padding: 0 10px;
        }

        &--left, &--right{
            @include flexCenter;

            width: 40px;
            height: 40px;

            border-radius: 50%;

            background-color: rgba(0, 0, 0, 0.5);


            cursor: pointer;

            &:hover{
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
                transform: translateY(-3px);
            }

            &:active{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
                transform: translateY(1px);
            }


        }

        &--pictures{
            width: 100%;

            overflow: hidden;

            transition: 0.6s;
        }

        &--pictureSideBySide{
            display: flex;
            width: 300%;

            position: relative;
            left: 0%;

            transition: 0.6s;
        }

        &--pictureOne{
            width: 100%;
        }

       
    }

    &__destinationButton{
        height: 40px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 4rem;
        margin-bottom: 8rem;

        &--flex{
            display: flex;

            background-color: white;

            cursor: pointer;
        }

        &--left{
            width: 200px;

            border: 1px solid $color-background-home;
            display: flex;

            &--settings{
                @include flexCenter;

                padding: 10px 0 10px 15px;

                &--spacingHr{
                    height: 18px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }

                &--Hr{
                    width: 15px;
                    height: 1px;
                    
                    background-color: $color-primary-red;

                    position: relative;
                }

                &--Sp{
                    width: 5px;
                    height: 5px;

                    background-color: $color-primary-red;

                    border-radius: 50%;

                    position: absolute;
                    top: -2px;

                    &--top{
                        left: 9px;
                    }

                    &--middle{
                        left: 2px;
                    }

                    &--bottom{
                        left: 7px;
                    }
                }
            }

            &--title{
                @include flexCenter;
                
                flex: 1;

                font-family: 'SevenOneEightLight', sans-serif;
                font-size: 19px;

                color: $color-secondary-grayDark;

                position: relative;
                top: 2px;
            }

        }

        &--right{
            @include flexCenter;
            
            width: 40px;

            border: 1px solid $color-background-home;

            cursor: pointer;
        }
    }

    &__destinationCard{
        position: relative;

        

        &--pictureSize{
            width: 100%;

        }


        &--minHeight{
            min-height: 220px;
            margin-bottom: 20px;
            
            position: relative;
            z-index: 10;

            cursor: pointer;

            &:hover{
                transform: scale(1.1);
                transition: all .6s;
                z-index: 100;
            }
        }

        &--title{
            width: 100%; 
            
            font-family: 'SevenOneEightExtraBold', serif;

            position: absolute;
            bottom: 0;

            padding: 1rem;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            color: white;

            &--country{
                font-size: 2rem;
            }

            &--price{
                display: flex;
                align-items: flex-end;
            }
        }
    }

    &__destinationCardDescription{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: white;

        padding: 10px 0;

        border-radius: 0 0 5px 5px; 

        &--positionLeft{
            margin-left: 10px;
        }

        &--country{
            font-family: 'Noto Serif', serif;
            font-size: 2rem;
        }

        &--city{
            font-family: 'SevenOneEightLight', serif;
            font-size: 1.7rem;

        }

        &--label{
            margin-right: 10px;
            font-size: 1.3rem;
        }

        &--button{
            width: 40px;
            height: 40px;
            
            background-color: $color-primary-red;

            margin-right: 15px;

            cursor: pointer;

            @include flexCenter
        }

        &--premium{
            display: flex;

            color: white;

            font-family: 'SevenOneEightLight', serif;

            &--class{
                background-color: black;

                margin-right: 20px;
                padding: 0 5px;

                font-size: 10px;

            }

            &--breakfast{
                background-color: $color-tertiary-brown;

                padding: 0 5px;

                font-size: 10px;
            }
        }
    }

    &__offer{
        display: flex;
        flex-direction: row;
        justify-content: center;

        text-align: center;

        margin-top: 3rem;

        color: $color-secondary-grayDark;

        &--how{
            font-size: 1.8rem;
            font-family: 'SevenOneEightLight', serif;
        }

        &--reduction{
            font-size: 2rem;
            font-family: 'SevenOneEightExtraBold', serif;
        }

        &--hr{
            height: .3rem;
            width: 11rem;

            background-color: $color-secondary-grayDark;

            margin: auto;
            margin-top: 1rem;
            margin-bottom: 4rem;
        }
    }

    &__member{
        color: white;

        background-color: $color-primary-red;

        display: flex;
        flex-direction: row;
        justify-content: center;

        text-align: center;

        padding: 1.5rem;
        margin-bottom: 2.5rem;

        border-radius: 2px; 

        &--already{
            font-family: 'Noto Serif', serif;
            font-size: 2rem;
        }

        &--promo{
            font-family: 'SevenOneEightLight', serif;
            font-size: 1.5rem;
        }

        &--link{
            &:link, &:visited{
                color: white;
                
                text-decoration: underline; 

                font-family: 'SevenOneEightExtraBold', serif;
            }
        }
    }

    &__signUp{
        @include flexCenter;

        &--Wrapper{
            display: flex;
            align-items: center;
        }

        &--infos{
            
            &--boxSize{
                display: flex;
                align-items: center;

                min-width: 250px;
            }

            &--number{
                color: $color-primary-red;
                
                font-size: 60px;
                font-family: 'SevenOneEightExtraBold', serif;

                position: relative;
                top: 7px;

                margin-right: 5px;

            }

            &--Vr{
                display: none;

                position: absolute;
                bottom: -10px;
                left: 15px;
            }

            &--description{
                font-size: 12px;
            }

            &--description, &--numberPosition{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &--numberPosition{
                position: relative;
            }

            &--descriptionDanger{
                color: $color-primary-red;

                font-family: 'SevenOneEightExtraBold', serif;
            }

            &--descriptionNormal{
                font-family: 'SevenOneEightLight', serif;

                color: $color-secondary-grayDark;
            }
        }

        &--btnPosition{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        &--btn{
            border: 0;

            font-family: 'SevenOneEightLight', serif;
    
            padding: 5px 80px;
            margin: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;

    
            color: white;
            background-color: $color-primary-red;
    
            cursor: pointer;
            outline: none;
    
            transition: .8s;

            &:hover{
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
                transform: translateY(-3px);
            }

            &:active{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
                transform: translateY(1px);
            }
        }

        &--center{
            position: relative;
            top: 2px;
        }
    }
}


@media screen and (max-width: 1200px){
    
    .responsive{
        font-size: 51%;
    }

    .section{
        &__destinationCard{
            &--minHeight{
                &:hover{
                    transform: scale(1.1);
                    transition: all .6s;
                    z-index: 100;
                }
            }
        }
    }
}

@media screen and (max-width: 991px){

    .section{

        &__destinationButton{
            &--left, &--right{
                border: 1px solid $color-secondary-grayDark;
            }
        }

        &__destinationCard{
            &--minHeight{
                &:hover{
                    transform: scale(1);
                }
            }
        }

        &__signUp{
            &--Wrapper{
                display: block;
            }

            &--infos{
                &--Vr{
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .header{
        &__title, &__subTitle{
            font-size: 2rem;
        }
    }

    .responsive {
        font-size: 40%;
    }
}